<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Spring Community</title>
</head>

<body>

<div th:fragment="header" class="relative bg-white">
    <div class="mx-auto max-w-7xl px-6">
        <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
                <a th:href="@{/}">
                    <img class="h-8 w-auto sm:h-10 inline"
                         src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                    <span class="text-lg font-bold text-gray-700">Spring Community</span>
                </a>
            </div>

            <div class="-my-2 -mr-2 md:hidden">
                <button type="button"
                        class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>

            <nav class="hidden space-x-10 md:flex">
                <a th:href="@{/}" class="text-base font-medium text-gray-500 hover:text-gray-900">Home</a>
                <a th:href="@{/boards}" class="text-base font-medium text-gray-500 hover:text-gray-900">Boards</a>
                <a th:href="@{#}" class="text-base font-medium text-gray-500 hover:text-gray-900">#</a>
            </nav>

            <div th:replace="~{:: userInfoHeader}"></div>
        </div>
    </div>
</div>

<div th:fragment="userInfoHeader" class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
    <th:block sec:authorize="!isAuthenticated()">
        <a th:href="@{/sign-in}"
           class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
            Sign in
        </a>
        <a th:href="@{/sign-up}"
           class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
            Sign up
        </a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{#}"
           class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"
           th:text="'Hello, ' + ${#authentication.getName()} + '!'"></a>
        <!--        <a th:href="@{/sign-out}"-->
        <!--           class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">-->
        <!--            Sign out-->
        <!--        </a>-->
        <form th:action="@{/sign-out}" method="post">
            <button type="submit"
                    class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
                Sign out
            </button>
        </form>
    </th:block>
</div>

<div th:fragment="footer" class="text-center p-6">
    <span>© 2023 </span>
    <a class="text-gray-600 font-semibold hover:text-gray-500" th:href="@{/}">Spring Community</a>
</div>

</body>

</html>