<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body class="bg-gray-300">

<div class="container mx-auto">
    <div th:replace="~{fragments/fragments :: header}"></div>

    <!--<div class="p-auto bg-white w-full max-w-xs">-->
    <div class="p-16 bg-white rounded-b">
        <div class="mx-auto my-16 border rounded-lg shadow-lg w-full max-w-xs">
            <!--<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">-->
            <form class="px-8 pt-6 pb-8 mb-4" th:action method="post" th:object="${signInRequest}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="text-red-500 text-xs italic" th:each="error : ${#fields.globalErrors()}"
                       th:text="${error}"></p>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" th:for="username">Username</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           th:field="*{username}" type="text" placeholder="Username">
                    <p class="text-red-500 text-xs italic" th:errors="*{username}"></p>
                </div>

                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" th:for="password">Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                           th:field="*{password}" type="password" placeholder="******************">
                    <p class="text-red-500 text-xs italic" th:errors="*{password}"></p>
                </div>

                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">Sign In
                    </button>
                    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{fragments/fragments :: footer}"></div>

</div>

</body>
</html>
