<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="bg-gray-300">

<div class="container mx-auto">
    <div th:replace="~{fragments/fragments :: header}"></div>

    <div class="p-auto bg-white rounded-b">
        <div class="mx-12 pb-6 flex-col">
            <div class="p-6 flex">
                <span class="text-lg font-bold flex-auto">Recent Articles</span>
            </div>

            <ul role="list" class="p-6 divide-y divide-slate-200">
                <li class="flex py-1 first:pt-0 last:pb-0" th:each="article : ${articles}">
                    <div class="mx-3 overflow-hidden flex gap-x-3">
                        <span class="text-sm text-slate-500 flex-none" th:text="${article.id}"></span>
                        <a th:href="@{/boards/{boardId}/articles/{articleId}(boardId=${article.board.id},articleId=${article.id})}"
                           class="text-sm text-slate-900 hover:underline truncate flex-auto"
                           th:text="${article.title}"></a>
                        <span class="text-sm text-slate-500 flex-auto" th:text="${article.createdDate}"></span>
                        <a th:href="@{/users/{id}(id=${article.author.id})}"
                           class="text-sm text-slate-500 hover:underline truncate flex-auto"
                           th:text="${article.author.name}"></a>
                    </div>
                </li>
            </ul>
        </div>

        <nav class="pb-6 flex place-content-center">
            <ul class="flex-none flex divide-x border rounded text-center"
                th:with="start=${(articles.number/5)*5+1},
                         last=(${start + 4 < articles.totalPages ? start + 4 : articles.totalPages})">
                <li>
                    <a th:href="@{/recent-articles(page=1)}" aria-label="First">
                        <button class="px-2 py-1 rounded-l hover:bg-blue-500 hover:text-slate-100">
                            <span aria-hidden="true">First</span>
                        </button>
                    </a>
                </li>

                <li th:if="${!articles.first}">
                    <a th:href="@{/recent-articles(page=${articles.number})}" aria-label="Previous">
                        <button class="px-2 py-1 hover:bg-blue-500 hover:text-slate-100">
                            <span aria-hidden="true">&lt;</span>
                        </button>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}">
                    <a th:href="@{/recent-articles(page=${page})}">
                        <button th:class="${page == articles.number + 1} ? 'px-2 py-1 bg-blue-700 text-slate-100'
                                                                         : 'px-2 py-1 hover:bg-blue-500 hover:text-slate-100'"
                                th:text="${page}"></button>
                    </a>
                </li>

                <li th:if="${!articles.last}">
                    <a th:href="@{/recent-articles(page=${articles.number + 2})}" aria-label="Next">
                        <button class="px-2 py-1 hover:bg-blue-500 hover:text-slate-100">
                            <span aria-hidden="true">&gt;</span>
                        </button>
                    </a>
                </li>

                <li>
                    <a th:href="@{/recent-articles(page=${articles.totalPages})}" aria-label="Last">
                        <button class="px-2 py-1 rounded-r hover:bg-blue-500 hover:text-slate-100">
                            <span aria-hidden="true">Last</span>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="~{fragments/fragments :: footer}"></div>

</div>

</body>
</html>